<div id="new-item-container">
    <h1 id="new-item-header">Next Item</h1>
    <br>
    <%= render 'form', item: @item %>

    <%= link_to 'Back', items_path, class: 'new-item-btn btn btn-md btn-dark' %>
</div>