*:focus {outline:none !important}

 #list-container { 
    
    padding-bottom: 8%;
    background: stretch; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)
      ), url("https://static4.depositphotos.com/1000833/428/i/950/depositphotos_4285756-stock-photo-blank-checked-paper.jpg");
 }

 @media(min-width: 1100px) {
    #list-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media(min-width: 990px) {
    #list-container {
        margin-left: 20%;
        margin-right: 20%;
    }
}

 #list-items-container {
     margin-top: 8%;
 }

 #todo-header {
     font-size: 52px;
 }

 ol li {
    margin-left: 20px;
    font-size: x-large;
    font-family: 'Cabin Sketch', cursive;
 }

 .btn {
    font-family: 'Cabin Sketch', cursive;
    background: rgb(172, 95, 95);
    border: solid rgb(129, 57, 57);
    color: black;
}

.btn:hover {
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
    background: rgb(131, 64, 64);
    border: solid rgb(196, 190, 190);
    color: rgb(231, 227, 227);
}

.new-item-btn {
    margin-bottom: 8px;
}

.pencil {
    color: black;
}

.checkmark {
    color: rgb(172, 95, 95);
}

#forms-container {
    margin-top: 15%; 
}

.password-field {
    opacity: 0,5;
}

.login-header-1 {
    color: #f5f5f5 ;
    font-size: 42px;

}

.login-header-2 {
    color: #f5f5f5;
}

.login-header-3 {
    color: #f5f5f5;
}

p {
    font-family: 'Cabin Sketch', cursive;
    color: #f5f5f5;
    margin: 0;
}

#remember {
    font-family: 'Cabin Sketch', cursive;
    color: #f5f5f5;
    margin-top: 10px;
}

.forgot {
    font-family: 'Cabin Sketch', cursive;
    color: #f5f5f5;
}

.forgot:hover {
    text-decoration: none;
    color: black;
}

.login-btn {
    width:82px;
}

#new-item-container {
    margin-top: 15%;
}

#new-item-header {
    color: #f5f5f5 ;
    font-size: 52px;
}

#edit-item-header {
    color: #f5f5f5 ;
    font-size: 52px;
}

#todo-list-header {
    margin-top: 5%;
    color: #f5f5f5 ;
    font-size: 52px;
}

input:focus {
    outline:none;
}

#forgot {
    color: #f5f5f5 ;
    font-size: 52px;
}

.notice-p {
    color: #f5f5f5 ;
    font-size: 19px;
}

#logs-container {
    margin-top: 15px;
    padding: 10px;
}
