/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
     
 }

 #list-container {
    
    padding-bottom: 8%;
    
    margin-left: 20%;
    margin-right: 20%;
    background: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)
      ), url("https://static4.depositphotos.com/1000833/428/i/950/depositphotos_4285756-stock-photo-blank-checked-paper.jpg");
 }

 #list-items-container {
     margin-top: 15%;
 }

 #todo-header {
     font-size: 52px;
 }

 ol li {
     margin-left: 20px;
    font-size: x-large;
    font-family: 'Cabin Sketch', cursive;
 }

 .btn {
    font-family: 'Cabin Sketch', cursive;
    background: rgb(172, 95, 95);
    border: solid rgb(129, 57, 57);
    color: black;
}

.btn:hover {
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
    background: rgb(131, 64, 64);
    border: solid rgb(196, 190, 190);
    color: rgb(231, 227, 227);
}

.new-item-btn {
    margin-bottom: 5px;
}


.pencil {
    color: black;
}

.checkmark {
    color: rgb(172, 95, 95);
}